/**************************/
/*       CSS RESET        */
/**************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary), sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*

Hero Width
Default to 130rem or 1300px


Typography System
–Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

–Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

– Font weights
Default: 400

–Line heights
Default: 1

—Colors
Primary:
Tints:

*/



/**************************/
/*       VARIABLES        */
/**************************/
:root {
  --clr-primary: #00730c;
  --clr-primary-accent: #0c4b35;
  --clr-secondary: #0b0b0b;

  --fc-dark: #212529;
  --fc-accent: #676767;
  --fc-light: #ffffff;

  --ff-primary: 'Nunito', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/**************************/
/*   REUSABLE COMPONENTS  */
/**************************/

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
  /* Transition always goes on original state */
  transition: all 0.3s;
}

.btn--cta:link,
.btn--cta:visited {
  background: var(--clr-primary);
  color: var(--fc-light);
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
}

.btn--cta:hover,
.btn--cta:active {
  background: #005c0a;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 3rem;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

/**************************/
/*          HERO          */
/**************************/

.section-hero {
  background: url(/img/BG.jpg);
  background-size: cover;
  font-family: var(--ff-primary);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  align-items: center;
}

.hero-subheading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--fc-dark);
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 8rem;
  color: var(--fc-dark);
  margin: 2.4rem 0;
}

.hero-span {
  color: var(--clr-primary);
}

.hero-description {
  font-weight: var(--fw-regular);
  font-size: 2rem;
  line-height: 1.6;
  color: #676767;
  margin-bottom: 4.8rem;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn--light:link,
.btn--light:visited {
  font-weight: var(--fw-semi-bold);
  font-size: 2rem;
  color: #676767;
}

.btn--light:hover,
.btn--light:active {
  color: #fff;
  /* To Add border inside */
  /* box-shadow: inset 0 0 0 3px #fff; */
}

.hero-img {
  width: 100%;
}


/**************************/
/*   Header / Navigation  */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 9.6rem;
  font-family: var(--ff-primary);
  background: #fff;
  padding: 0 6.4rem;
  max-width: 170rem;
}

.navbar-nav {
  display: flex;
}

.logo {
  font-size: 4rem;
  text-decoration: none;
  color: var(--fc-dark);
}

.hamburger {
  display: none;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--clr-primary);
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-links {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: var(--fc-dark);
  /* transition: all 0.3s; */
}

.main-nav-links:hover {
  color: var(--clr-primary);
  border-bottom: 2px solid var(--clr-primary);
}

.main-nav-list+a:last-child {
  margin-left: 4.8rem;
}

.main-nav-links:last-child:link,
.main-nav-links:last-child:visited {
  background: var(--clr-primary);
  color: var(--fc-light);
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
}

.main-nav-links:last-child:hover,
.main-nav-links:last-child:active {
  background: #005c0a;
  border: none;
}

/**************************/
/*        Services        */
/**************************/

.section-services {
  background-color: #e5e5e5;
  font-family: var(--ff-primary);
  padding: 9.6rem 0;
}

.section-services .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-services h2 {
  font-size: 2.4rem;
  color: var(--fc-dark);
  font-weight: 800;
}

/**************************/
/*        About US        */
/**************************/

.section-about {
  background-color: #e5e5e5;
  position: relative;
  padding: 9.6rem 0 14.5rem 0;
}

.section-about::before {
  content: '';
  position: absolute;
  background: url('/img/plant-services.png');
  height: 419px;
  width: 314px;
  transform: rotate(20deg);
  left: -60px;
}

.section-about .container {
  display: flex;
  font-size: 6rem;
  gap: 6rem;
  font-family: var(--ff-primary);
  z-index: 1;
  justify-content: space-between;
}

.section-about img {
  width: auto;
  height: auto;
  max-width: 601px;
  max-height: 741px;
}

.about-img {
  position: relative;
  z-index: 2;
  margin-left: 2.4rem;
}

.about-img::before {
  content: '';
  width: 405px;
  height: 706px;
  background: var(--clr-primary);
  left: -25px;
  top: -25px;
  position: absolute;
  z-index: -1;
}

.about-img::after {
  content: '';
  background: url('/img/gardeningTools.jpg');
  background-size: cover;
  position: absolute;
  width: 456px;
  object-fit: cover;
  height: 249px;
  top: 565px;
  left: 130px;
  border: 15px solid #fff;
  border-radius: 5px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-text h2 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2;
}

.about-text h2 span {
  color: var(--clr-primary);
}

.about-text p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #676767;
}

.about-text ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.about-text li {
  display: flex;
  background: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

.about-text li span {
  font-size: 2.4rem;
  font-weight: 700;
}

.about-text [astro-icon] {
  color: var(--clr-primary);
}

.about-text a {
  width: fit-content;
}

/**************************/
/*         Why US         */
/**************************/

.section-whyUs {
  background-color: #0c4b35;
  padding: 9.6rem 0;
  position: relative;
}

.section-whyUs::before {
  display: none;
}

.section-whyUs::after {
  content: url('/img/whyUsleft.png');
  position: absolute;
  right: 0px;
  top: 0px;
  rotate: 180deg;
}

.section-whyUs .container {
  display: flex;
  flex-direction: row-reverse;
  font-size: 6rem;
  gap: 2rem;
  font-family: var(--ff-primary);
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.section-whyUs img {
  height: 100%;
}

.whyUs-img {
  position: relative;
  z-index: 2;
}

.whyUs-text {
  width: 50%;
  justify-items: flex-end;
  flex-shrink: 0;
}

.section-whyUs h2 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 6.1rem;
  padding-bottom: 2rem;
  color: #fff;
}

.section-whyUs p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #fff;
  padding-bottom: 2rem;
}

.section-whyUs ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  color: #fff;
  padding: 5rem 0;
}

.section-whyUs li {
  display: flex;
  width: 100%;
  align-items: center;
}

.section-whyUs li span {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  padding-left: 3rem;
}

.section-whyUs [astro-icon] {
  color: #fff;
  height: 4rem;
}

.section-whyUs a {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #fff;
  text-decoration: none;
  padding: 1.3rem 3.5rem;
  background: var(--clr-primary);
  border-radius: 0.5rem;
}

/**************************/
/*        Gallery         */
/**************************/

.section-gallery {
  padding: 9.6rem 0 12.8rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

figure {
  overflow: hidden;
}

.gallery-item img {
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/*         Footer         */
/**************************/

.footer {
  padding: 12.8rem 0 6.4rem 0;
  background-color: #0c4b35;
}

.footer-cta {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
  background-color: #d9f1e0;
  align-items: center;
  color: #212529;
  border-radius: 10px;
  margin-top: -190px;
}

.footer-cta h2 {
  font-size: 4.5rem;
  font-weight: 700;
}

.footer-cta span {
  color: #00730c;
}

.footer-container {
  padding-top: 10rem;
  justify-content: center;
  gap: 4.8rem;
}

.nav-col {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
}

.nav-col h3 {
  padding-bottom: 3.2rem;
  height: 90px;
}

.footer-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.footer-nav {
  list-style: none;
}

.footer-nav.grid {
  gap: 1rem;
}

.footer-nav a {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.address a {
  color: #fff;
}

.footer-nav ul a:hover {
  border-bottom: 2px solid #fff;
}

.copyright {
  margin-top: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  padding-top: 3.2rem;
  border-top: 2px solid #fff;
}

.copy-logo {
  color: #fff;
}

/**************************/
/*         Queries        */
/**************************/

/* rem does not depend on HTML font-size in media queries!
1rem = 1em = 16px */


/**************************/
/*      Below 1328px      */
/*     (Small Laptops)    */
/**************************/
@media (max-width: 83em) {}

/**************************/
/*       Below 1200px     */
/*   (Landscape Tablet)   */
/**************************/
@media (max-width: 75em) {
  .section-hero {
    padding: 4.8rem 3.2rem;
  }

  .container {
    max-width: 130rem;
    padding: 0 4.8rem;
  }

  .section-about::before {
    display: none;
  }
}

/**************************/
/*       Below 1024px     */
/**************************/
@media (max-width: 64em) {

  .hero {
    gap: 1.6rem;
  }

  .header {
    padding: 3.2rem;
    height: auto;
  }

  /* Mobile Navigation */
  .hamburger {
    display: block;
    z-index: 3;
  }

  .main-nav {
    background: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 1;
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-links {
    color: #fff;
    font-size: 3rem;
  }
}

.section-services {
  padding: 4.8rem 0;
}

.grid--4 {
  grid-template-columns: repeat(2, 1fr);
}

.section-about {
  padding: 4.8rem 0;
}

.section-about .container {
  flex-direction: column;
  text-align: center;
}

.about-img {
  display: none;
}

.about-text {
  gap: 3.2rem;
}

.about-text a {
  align-self: center;
}

.footer-cta h2 {
  font-size: 3.5rem;
}

.footer-container {
  text-align: center;
}

/**************************/
/*       Below 544px      */
/*        (Phones)        */
/**************************/
@media (max-width: 34em) {

  .header {
    padding: 0 2.4rem;
  }
}