---
import Layout from '../layouts/Layout.astro'
import HeroPicRight from '../components/HeroPicRight.astro'
import Services from '../components/Services.astro'
import AboutUs from '../components/AboutUs.astro'
import WhyUs from '../components/WhyUs.astro'
import Gallery from '../components/Gallery.astro'
---

<Layout title='Landscape | San Diego'>
  <main>
    <HeroPicRight />
    <Services />
    <AboutUs />
    <WhyUs />
    <Gallery />
    <style></style>
  </main>
</Layout>
