<footer class='footer'>
  <div class='container'>
    <div class='footer-cta'>
      <h2>We Have <span>Solutions</span> For Your <span>Garden.</span></h2>
      <a href='#' class='btn btn--cta'>Get A Quote</a>
    </div>
    <div class='footer-container grid grid--4'>
      <div class='nav-col'>
        <h3 class='footer-heading'>Subscribe to Newsletter</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          reprehenderit officia consequuntur molestias dicta similique, cumque
          voluptatum in nesciunt voluptas quam eveniet quod dolor fugiat
          incidunt repudiandae cupiditate, accusantium et.
        </p>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Contact</h3>
        <address class='address grid'>
          <p>623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
          <p>
            <a href='tel:800-123-4567'>800-123-4567</a><br />
            <a href='mailto:hello@landscaping.com'>hello@landscaping.com</a>
          </p>
        </address>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Useful Links</h3>
        <ul class='footer-nav grid'>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Services</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Gallery</a></li>
          <li><a href='#'>FAQ</a></li>
        </ul>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Services</h3>
        <ul class='footer-nav grid'>
          <li><a href='#' class=''>Landscape</a></li>
          <li><a href='#'>Hardscape</a></li>
          <li><a href='#'>Maintenance</a></li>
          <li><a href='#'>Irrigation</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='copyright'>
    <p class='paragraph-1'>
      Copyright &copy; <span id='copyright-year'></span> | Developed By
      <a class='copy-logo' href='https://frmwrk.dev' target='_blank'
        >FRMWRK Web</a
      > | All Rights Reserved
    </p>
  </div>
</footer>

<style>
  .footer {
    padding: 12.8rem 0 6.4rem 0;
    background-color: #0c4b35;
  }

  .footer-cta {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
    background-color: #d9f1e0;
    align-items: center;
    color: #212529;
    border-radius: 10px;
    margin-top: -190px;
  }

  .footer-cta h2 {
    font-size: 4.5rem;
    font-weight: 700;
  }

  .footer-cta span {
    color: #00730c;
  }

  .footer-container {
    padding-top: 10rem;
    justify-content: center;
    gap: 4.8rem;
  }

  .nav-col {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
  }

  .nav-col h3 {
    padding-bottom: 3.2rem;
    height: 90px;
  }

  .footer-heading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
  }

  .footer-nav {
    list-style: none;
  }

  .footer-nav.grid {
    gap: 1rem;
  }

  .footer-nav a {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }

  .address a {
    color: #fff;
  }

  ul a:hover {
    border-bottom: 2px solid #fff;
  }

  .copyright {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    padding-top: 3.2rem;
    border-top: 2px solid #fff;
  }

  .copy-logo {
    color: #fff;
  }
</style>
