<footer class='footer'>
  <div class='container'>
    <div class='footer-cta'>
      <h2>We Have <span>Solutions</span> For Your <span>Garden.</span></h2>
      <a href='#' class='btn btn--cta'>Get A Quote</a>
    </div>
    <div class='footer-container grid grid--4'>
      <div class='nav-col'>
        <h3 class='footer-heading'>Subscribe to Newsletter</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
          reprehenderit officia consequuntur molestias dicta similique, cumque
          voluptatum in nesciunt voluptas quam eveniet quod dolor fugiat
          incidunt repudiandae cupiditate, accusantium et.
        </p>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Contact</h3>
        <address class='address grid'>
          <p>623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
          <p>
            <a href='tel:800-123-4567'>800-123-4567</a><br />
            <a href='mailto:hello@landscaping.com'>hello@landscaping.com</a>
          </p>
        </address>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Useful Links</h3>
        <ul class='footer-nav grid'>
          <li><a href='#'>Home</a></li>
          <li><a href='#'>Services</a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Gallery</a></li>
          <li><a href='#'>FAQ</a></li>
        </ul>
      </div>
      <div class='nav-col'>
        <h3 class='footer-heading'>Services</h3>
        <ul class='footer-nav grid'>
          <li><a href='#' class=''>Landscape</a></li>
          <li><a href='#'>Hardscape</a></li>
          <li><a href='#'>Maintenance</a></li>
          <li><a href='#'>Irrigation</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='copyright'>
    <p class='paragraph-1'>
      Copyright &copy; <span id='copyright-year'></span> | Developed By
      <a class='copy-logo' href='https://frmwrk.dev' target='_blank'
        >FRMWRK Web</a
      > | All Rights Reserved
    </p>
  </div>
</footer>
