---
---

<section class='section-gallery'>
  <div class='container'>
    <div class='gallery'>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
    </div>
  </div>
</section>

<style>
  .section-gallery {
    padding: 9.6rem 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }

  figure {
    overflow: hidden;
  }

  .gallery-item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 0.4s;
  }

  .gallery-item img:hover {
    transform: scale(1.1);
  }
</style>
