---
---

<section class='section-gallery'>
  <div class='container'>
    <div class='gallery'>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/front-house.jpg' alt='' />
      </figure>
      <figure class='gallery-item'>
        <img src='/img/corner.jpg' alt='' />
      </figure>
    </div>
  </div>
</section>
