---
import Hamburger from './Hamburger.astro'
import Nav from './Nav.astro'
---

<header class='header'>
  <a href='#' class='logo'>Logo</a>
  <nav class='main-nav'>
    <Nav />
  </nav>
  <Hamburger />
</header>
