---
---

<section class='section-hero'>
  <div class='hero'>
    <div class='hero-text'>
      <p class='hero-subheading'>Landscape Planting Services</p>
      <h1>Perfect Landscape <span>Solution.</span></h1>
      <p class='hero-description'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
        consequuntur explicabo, debitis soluta commodi deleniti iusto facilis
        officiis est obcaecati suscipit dignissimos. Quam reiciendis ad sapiente
        minus nesciunt perspiciatis blanditiis!
      </p>

      <div class='hero-cta'>
        <a class='cta' href='#'>Get A Quote</a>
        <a class='cta-light' href='#'>See how it works &rarr;</a>
      </div>
    </div>
  </div>
  <div class='hero-img'>
    <img src='../img/hero-img.jpg' alt='' srcset='' width='1013' />
  </div>
</section>

<style>
  section {
    background: url(/img/BG.jpg);
    background-size: cover;
    font-family: var(--ff-primary);
    padding-top: 13.3rem;
    display: flex;
  }

  .hero {
    display: flex;
    gap: 6rem;
    padding: 0;
    padding-left: 25.5rem;
    width: 70%;
  }

  .hero-subheading {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--fc-dark);
  }

  h1 {
    font-size: 5.8rem;
    color: var(--clr-primary);
    font-weight: 800;
    line-height: 7.9rem;
    color: var(--fc-dark);
    padding: 2rem 0;
  }

  h1 span {
    color: var(--clr-primary);
  }

  .hero-description {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #676767;
    padding-bottom: 6.3rem;
  }

  .hero-cta {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-bottom: 20rem;
  }

  .cta {
    padding: 1.3rem 3.5rem;
    border-radius: 0.5rem;
    background: var(--clr-primary);
    color: var(--fc-light);
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
    display: inline-block;
  }

  .cta-light {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    text-decoration: none;
    color: #676767;
  }

  img {
    height: 100%;
  }
</style>
