---
---

<section class='section-hero'>
  <div class='hero'>
    <div class='hero-text'>
      <p class='hero-subheading'>Landscape Planting Services</p>
      <h1 class='hero-heading'>
        Perfect Landscape <span class='hero-span'>Solution.</span>
      </h1>
      <p class='hero-description'>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
        consequuntur explicabo, debitis soluta commodi deleniti iusto facilis
        officiis est obcaecati suscipit dignissimos. Quam reiciendis ad sapiente
        minus nesciunt perspiciatis blanditiis!
      </p>

      <div class='hero-cta'>
        <a class='btn btn--cta' href='#'>Get A Quote</a>
        <a class='btn btn--light' href='#'>See how it works &rarr;</a>
      </div>
    </div>
    <div class='hero-img'>
      <img src='../img/hero-img.jpg' alt='' srcset='' width='1013' />
    </div>
  </div>
</section>
