---
import Card from '../components/Card.astro'
---

<section class='section-services'>
  <div class='container'>
    <h2>Services We <span>Provide</span></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis sint
      earum illum. Ullam, iste vero. Quae enim eaque quidem. Rerum eaque
      consequuntur numquam at sunt fugiat exercitationem dolores magni id!
    </p>
    <div class='card-container grid grid--4'>
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
      <Card
        title='Tree Planting'
        body='Lorem ipsum is simply dummy text  of the printing and type setting industry.'
        icon='sprout-outline'
        pack='mdi'
      />
    </div>
  </div>
</section>

<style>
  .section-services {
    background-color: #e5e5e5;
    font-family: var(--ff-primary);
    padding: 9.6rem 0;
  }
  .section-services .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section-services h2 {
    font-size: 2.4rem;
    color: var(--fc-dark);
    font-weight: 800;
  }
  .section-services span {
    color: var(--clr-primary);
  }
  .section-services p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: #676767;
    max-width: 60ch;
    align-self: center;
  }

  /**************************/
  /*      Below 1328px      */
  /*     (Small Laptops)    */
  /**************************/
  @media (max-width: 83em) {
  }

  /**************************/
  /*       Below 1200px     */
  /*   (Landscape Tablet)   */
  /**************************/
  @media (max-width: 75em) {
  }

  /**************************/
  /*       Below 1024px     */
  /**************************/
  @media (max-width: 64em) {
    .section-services {
      padding: 4.8rem 0;
    }
  }

  /**************************/
  /*       Below 544px      */
  /*        (Phones)        */
  /**************************/
  @media (max-width: 34em) {
  }
</style>
