---
import { Icon } from 'astro-icon'
---

<section class='section-whyUs'>
  <div class='container'>
    <div class='whyUs-img'>
      <img src='img/gardeningTools.jpg' alt='' width='672' height='476' />
    </div>
    <div class='whyUs-text'>
      <h2>Why Choose Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos non beatae
        temporibus neque vitae voluptatibus et. Excepturi asperiores tempora
        natus labore, commodi reiciendis voluptate ab, placeat nam laudantium,
        rerum repellat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nisi nemo deserunt fugit repudiandae eum? Assumenda fuga quas neque iste
        non quod. Odio nihil quod commodi quo quis obcaecati aliquid aperiam?
      </p>
      <div class='whyUs-icons'>
        <ul>
          <li>
            <Icon pack='carbon' name='checkmark-filled' height='4rem' />
            <span>Landscape</span>
          </li>
          <li>
            <Icon pack='carbon' name='checkmark-filled' height='4rem' />
            <span>Hardscape</span>
          </li>
          <li>
            <Icon pack='carbon' name='checkmark-filled' height='4rem' />
            <span>Maintenance</span>
          </li>
          <li>
            <Icon pack='carbon' name='checkmark-filled' height='4rem' />
            <span>Irrigation</span>
          </li>
        </ul>
      </div>
      <a href='#'>Discover More</a>
    </div>
  </div>
</section>
